<?xml version="1.0"?>

<!-- ROS2 Launch File - Supports ROS2 Jazzy -->
<launch>

  <set_env name="GZ_SIM_RESOURCE_PATH" value="$(find-pkg-prefix floorplan_models)/secoro_team_2/gazebo/models:$(find-pkg-prefix floorplan_models)/secoro_team_2/gazebo/worlds:$(find-pkg-prefix floorplan_models)/secoro_team_2:$(env GZ_SIM_RESOURCE_PATH)"/>

  <arg name="container_name" default="ros_gz_container" />
  <arg name="create_own_container" default="False" />
  <arg name="use_composition" default="False" />
  <arg name="world_sdf_file" default="secoro_team_2.sdf" />
  <arg name="world_sdf_string" default="" />
  <gz_server
    world_sdf_file="$(var world_sdf_file)"
    world_sdf_string="$(var world_sdf_string)"
    container_name="$(var container_name)"
    create_own_container="$(var create_own_container)"
    use_composition="$(var use_composition)">
  </gz_server>


</launch>